DEBUG=True 
SECRET_KEY=your_secret_key_here

# Frontend URL used for OAuth callback_url


DB_NAME=devblogg
DB_USER=your_username
DB_PASSWORD=your_password
DB_HOST=127.0.0.1
DB_PORT=3306

EMAIL_HOST_USER=your
EMAIL_HOST_PASSWORD=xxxxxxxxxxxx  
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True

# Social auth (django-allauth)
SOCIAL_AUTH_GOOGLE_CLIENT_ID=your_google_client_id
SOCIAL_AUTH_GOOGLE_SECRET=your_google_client_secret
SOCIAL_AUTH_GITHUB_CLIENT_ID=your_github_client_id
SOCIAL_AUTH_GITHUB_SECRET=your_github_client_secret

